@font-face {
    font-family: 'Agency_Bold';
    src: url('../fonts/Agency_Bold.ttf') format('truetype');
}

canvas{
    font-family: 'Agency_Bold';
    background-image: url("../images/planet_background.jpg");
    background-size: 100%;
}

/* @font-face {
    font-family: 'Minecraft';
    src: url('../fonts/Minecraft.ttf') format('truetype');
}

canvas{
    font-family: 'Agency_Bold';
    background-image: url("../images/nebula-bg.jpg");
} */